<footer class="black-bg-1 py-50">
  <div class="container-1">
    <div class="row">
      <div class="col-md-5">
        <div class="heading-3 white fs-20">
          Stay in the loop with our newsletter!
        </div>
        <form id="footer" class="mt-30">
          <label for="email">Define E-Mail Address<span><img src="/images/footer/footer-arrow.png"
                class="w-20px"></span></label>
          <input type="email" id="email" required>
        </form>
        <div class="mt-15">
          <div class="heading-2 fs-14 opacity-1">
            Subscribe to our newsletter and unlock a world of exclusive benefits. Be the first to know about our latest
            products,
            special promotions, and exciting updates. Join our community of like-minded individuals who share a passion
            for [your
            niche/industry].
          </div>
        </div>
        <div class="mt-50">
          <div class="d-flex align-items-center">
            <a href="" class="">
              <img src="/images/footer/footer-fb.png" class="w-30px">
            </a>
            <a href="" class="ml-10">
              <img src="/images/footer/footer-insta.png" class="w-30px">
            </a>
            <a href="" class="ml-10">
              <img src="/images/footer/footer-twit.png" class="w-30px">
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-5">
        <div class="d-flex justify-content-between">
          <a href="">
            <span class="heading-8 fs-14 white">
              Story
            </span>
          </a>
          <a href="">
            <span class="heading-8 fs-14 white">
              Brands
            </span>
          </a>
          <a href="">
            <span class="heading-8 fs-14 white">
              Collections
            </span>
          </a>
          <a href="">
            <span class="heading-8 fs-14 white">
              Services
            </span>
          </a>
          <a href="">
            <span class="heading-8 fs-14 white">
              NRI Homes
            </span>
          </a>
          <a href="">
            <span class="heading-8 fs-14 white">
              Publications
            </span>
          </a>
          <a href="">
            <span class="heading-8 fs-14 white">
              Blogs
            </span>
          </a>
        </div>
        <div class="mt-100">
          <div class="sub-heading-2 text-align-right">
            +1012 3456 789
          </div>
          <div class="mt-15 text-align-right heading-2 fs-18">
            132 Dartmouth Street Boston, <br> Massachusetts 02156 United States
          </div>
          <div class="mt-20 text-align-right heading-2 fs-18">
            demo@gmail.com
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-30">
    <div class="border-4">
    </div>
  </div>
  <div class="container-1">
    <div class="mt-40">
      <div class="d-flex-lg justify-between">
        <div class="heading-2 fs-14">
          © 2023 All rights reserved
        </div>
        <div class="heading-2 fs-14">
          Design & Developed by Tailwebs
        </div>
      </div>
    </div>
  </div>
</footer>


<style>
  #footer label {
    color: #ffffff;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #footer input {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #8D8D8D;
    background-color: #0f0f0f;
    color: #ffffff;
  }

  #footer input:focus {
    outline: none;
  }
</style>