<div class="mt-40 d-none-mob">
  <!-- Nav tabs -->
  <div class="mx-10 home-tab">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-4 mt-30">
        <div class="nav-item tab-head" data-aos="fade-right">
          <a href="<%=  %>" class="nav-link" data-toggle="tab" href="#tab-1" role="tab"><span><img src="/images/home-page/tab-img.png"
                class="w-25px mr-2 tab-img-1"><img src="/images/home-page/pro-hover.png"
                class="w-25px mr-2 tab-img-2 d-none">Accessories</span></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-4 mt-30">
        <div class="nav-item tab-head" data-aos="fade-right">
          <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab"><span><img src="/images/home-page/tab-img.png"
                class="w-25px mr-2 tab-img-1"><img src="/images/home-page/pro-hover.png"
                class="w-25px mr-2 tab-img-2 d-none">Furnitures</span></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-4 mt-30">
        <div class="nav-item tab-head" data-aos="fade-left">
          <a class="nav-link" data-toggle="tab" href="#tab-3" role="tab"><span><img src="/images/home-page/tab-img.png"
                class="w-25px mr-2 tab-img-1"><img src="/images/home-page/pro-hover.png"
                class="w-25px mr-2 tab-img-2 d-none">Fabrics &
              DRAPERY</span></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-30">
        <div class="nav-item tab-head" data-aos="fade-left">
          <a class="nav-link" data-toggle="tab" href="#tab-4" role="tab"><span><img src="/images/home-page/tab-img.png"
                class="w-25px mr-2 tab-img-1"><img src="/images/home-page/pro-hover.png"
                class="w-25px mr-2 tab-img-2 d-none">FLOOR
              COVERINGS</span></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-30">
        <div class="nav-item tab-head" data-aos="fade-right">
          <a class="nav-link" data-toggle="tab" href="#tab-5" role="tab"><span><img src="/images/home-page/tab-img.png"
                class="w-25px mr-2 tab-img-1"><img src="/images/home-page/pro-hover.png"
                class="w-25px mr-2 tab-img-2 d-none">Wall
              Coverings</span></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-30">
        <div class="nav-item tab-head" data-aos="fade-right">
          <a class="nav-link" data-toggle="tab" href="#tab-6" role="tab"><span><img src="/images/home-page/tab-img.png"
                class="w-25px mr-2 tab-img-1"><img src="/images/home-page/pro-hover.png"
                class="w-25px mr-2 tab-img-2 d-none">TRIMS &
              TASSELS</span></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-30">
        <div class="nav-item tab-head" data-aos="fade-left">
          <a class="nav-link" data-toggle="tab" href="#tab-7" role="tab"><span><img src="/images/home-page/tab-img.png"
                class="w-25px mr-2 tab-img-1"><img src="/images/home-page/pro-hover.png"
                class="w-25px mr-2 tab-img-2 d-none">MATTRESSES</span></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-30">
        <div class="nav-item tab-head" data-aos="fade-left">
          <a class="nav-link" data-toggle="tab" href="#tab-8" role="tab"><span><img src="/images/home-page/tab-img.png"
                class="w-25px mr-2 tab-img-1"><img src="/images/home-page/pro-hover.png"
                class="w-25px mr-2 tab-img-2 d-none">HARDWARE &
              AUTOMATION</span></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-30">
        <div class="nav-item tab-head" data-aos="fade-right">
          <a class="nav-link" data-toggle="tab" href="#tab-9" role="tab"><span><img src="/images/home-page/tab-img.png"
                class="w-25px mr-2 tab-img-1"><img src="/images/home-page/pro-hover.png"
                class="w-25px mr-2 tab-img-2 d-none">Lighting</span></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-30">
        <div class="nav-item tab-head" data-aos="fade-right">
          <a class="nav-link" data-toggle="tab" href="#tab-10" role="tab"><span><img src="/images/home-page/tab-img.png"
                class="w-25px mr-2 tab-img-1"><img src="/images/home-page/pro-hover.png"
                class="w-25px mr-2 tab-img-2 d-none">Bath & Bed
              linen</span></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-30">
        <div class="nav-item tab-head" data-aos="fade-left">
          <a class="nav-link" data-toggle="tab" href="#tab-11" role="tab"><span><img src="/images/home-page/tab-img.png"
                class="w-25px mr-2 tab-img-1"><img src="/images/home-page/pro-hover.png"
                class="w-25px mr-2 tab-img-2 d-none">tablewares</span></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-30">
        <div class="nav-item tab-head" data-aos="fade-left">
          <a class="nav-link" data-toggle="tab" href="#tab-11" role="tab"><span><img src="/images/home-page/tab-img.png"
                class="w-25px mr-2 tab-img-1"><img src="/images/home-page/pro-hover.png"
                class="w-25px mr-2 tab-img-2 d-none">upholstery</span></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Content -->
  <!-- <div class="row mt-50">
    <div class="col-md-12">
      <div id="tab-1" class="tab-content">
        <div class="row">
          <div class="col-md-4">
            <div>
              <img src="/images/home-page/tab-1-1.png" class="w-100">
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <img src="/images/home-page/tab-1-2.png" class="w-100">
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <img src="/images/home-page/tab-1-3.png" class="w-100">
            </div>
          </div>
        </div>
        <div class="row mt-20">
          <div class="col-md-4">
            <div>
              <img src="/images/home-page/tab-1-4.png" class="w-100">
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <img src="/images/home-page/tab-1-5.png" class="w-100">
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <img src="/images/home-page/tab-1-6.png" class="w-100">
            </div>
          </div>
        </div>
        <div class="mt-50 d-flex justify-content-center">
          <button type="button" class="btn btn-1">VIEW ALL</button>
        </div>
      </div>
      <div id="tab-2" class="tab-content">
        <div class="row">
          <div class="col-md-4">
            <div>
              <img src="/images/home-page/tab-1-4.png" class="w-100">
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <img src="/images/home-page/tab-1-5.png" class="w-100">
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <img src="/images/home-page/tab-1-6.png" class="w-100">
            </div>
          </div>
        </div>
        <div class="row mt-20">
          <div class="col-md-4">
            <div>
              <img src="/images/home-page/tab-1-1.png" class="w-100">
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <img src="/images/home-page/tab-1-2.png" class="w-100">
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <img src="/images/home-page/tab-1-3.png" class="w-100">
            </div>
          </div>
        </div>
        <div class="mt-50 d-flex justify-content-center">
          <button type="button" href="" class="btn btn-1">VIEW ALL</button>
        </div>
      </div>
    </div>
  </div> -->
</div>

<style>
  .home-tab .tab-content {
    display: none;
  }

  .home-tab .active-tab {
    border: 2px solid #A7833D !important;
    background-color: #A7833D;
    color: #FFF;
  }

  .home-tab .active-tab:hover {
    border: 2px solid #A7833D !important;
    background-color: #A7833D;
    color: #FFF !important;
  }

  .home-tab .nav-item.active-tab span:hover {
    color: #FFF !important;
  }

  .home-tab .active-tab .nav-link:hover {
    color: #FFF !important;
  }

  .home-tab .tab-content.active {
    display: block !important;
  }

  .home-tab .nav-item.tab-head {
    border-radius: 30px;
    border: 2px solid #FFF;
  }

  .home-tab .nav-item.tab-head:hover {
    border: 2px solid #A7833D;
    color: #A7833D;
  }

  .home-tab .nav-item.tab-head:focus {
    background-color: #A7833D;
  }

  .home-tab .nav-item.tab-head:hover .tab-img-2 {
    display: block !important;
  }

  .home-tab .nav-item.tab-head:hover .tab-img-1 {
    display: none;
  }

  .home-tab .nav-item.tab-head.active-tab .tab-img-2 {
    display: block !important;
  }

  .home-tab .nav-item.tab-head.active-tab .tab-img-1 {
    display: none;
  }


  .home-tab .nav-item span {
    display: flex;
    align-items: center;
  }

  .home-tab .nav-link {
    color: #FFF;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
  }

  .home-tab .nav-item span:hover {
    color: #A7833D !important;
  }

  .home-tab .nav-link:hover {
    color: #A7833D !important;
  }
</style>

<div class="mt-20-mob d-block-mob d-none-web">
  <div class="mx-10 mx-0-mob">
    <div class="row">
      <div class="mt-30 col-4">
        <div class="nav-item mob-head">
          <a class="nav-link" data-toggle="tab" href="#tab-1" role="tab"><span>Accessories</span></a>
        </div>
      </div>
      <div class="mt-30 col-4">
        <div class="nav-item mob-head">
          <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab"><span>Furnitures</span></a>
        </div>
      </div>
      <div class="mt-30 col-4">
        <div class="nav-item mob-head">
          <a class="nav-link" data-toggle="tab" href="#tab-3" role="tab"><span>Fabrics &
              DRAPERY</span></a>
        </div>
      </div>
      <div class="mt-30 col-4">
        <div class="nav-item mob-head">
          <a class="nav-link" data-toggle="tab" href="#tab-4" role="tab"><span>FLOOR
              COVERINGS</span></a>
        </div>
      </div>
      <div class="mt-30 col-4">
        <div class="nav-item mob-head">
          <a class="nav-link" data-toggle="tab" href="#tab-5" role="tab"><span>Wall
              Coverings</span></a>
        </div>
      </div>
      <div class="mt-30 col-4">
        <div class="nav-item mob-head">
          <a class="nav-link" data-toggle="tab" href="#tab-6" role="tab"><span>TRIMS &
              TASSELS</span></a>
        </div>
      </div>
      <div class="mt-30 col-4">
        <div class="nav-item mob-head">
          <a class="nav-link" data-toggle="tab" href="#tab-7" role="tab"><span>MATTRESSES</span></a>
        </div>
      </div>
      <div class="mt-30 col-4">
        <div class="nav-item mob-head">
          <a class="nav-link" data-toggle="tab" href="#tab-8" role="tab"><span>HARDWARE &
              AUTOMATION</span></a>
        </div>
      </div>
      <div class="mt-30 col-4">
        <div class="nav-item mob-head">
          <a class="nav-link" data-toggle="tab" href="#tab-9" role="tab"><span>Lighting</span></a>
        </div>
      </div>
      <div class="mt-30 col-4">
        <div class="nav-item mob-head">
          <a class="nav-link" data-toggle="tab" href="#tab-10" role="tab"><span>Bath & Bed
              linen</span></a>
        </div>
      </div>
      <div class="mt-30 col-4">
        <div class="nav-item mob-head">
          <a class="nav-link" data-toggle="tab" href="#tab-11" role="tab"><span>tablewares</span></a>
        </div>
      </div>
      <div class="mt-30 col-4">
        <div class="nav-item mob-head">
          <a class="nav-link" data-toggle="tab" href="#tab-11" role="tab"><span>upholstery</span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .mob-head .nav-link {
    padding: 0px !important;
    font-size: 10px !important;
    text-align: center;
  }

  .mob-head span{
    display: block !important;
  }
</style>