<section data-aos="fade-down">
  <div class="container">
    <div class="owl-carousel owl-1 owl-theme">
      <div class="item">
        <div class="row">
          <div class="col-md-4">
            <div class="text-center-web">
              <img src="/images/our-story/sto-1.png">
              <div class="heading-1 fs-25 fs-18-mob black-1 mt-15">
                Timeless Elegance
              </div>
              <div class="heading-2 black-1 fs-20 fs-14-mob mt-15">
                Elevate your space with our enduring and sophisticated home decor pieces.
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-40-mob">
            <div class="text-center-web">
              <img src="/images/our-story/sto-2.png">
              <div class="heading-1 fs-25 fs-18-mob black-1 mt-15">
                Handcrafted Excellence
              </div>
              <div class="heading-2 black-1 fs-20 fs-14-mob mt-15">
                Immerse yourself in the artistry and precision of our meticulously crafted products.
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-40-mob">
            <div class="text-center-web">
              <img src="/images/our-story/sto-3.png">
              <div class="heading-1 fs-25 fs-18-mob black-1 mt-15">
                Uncompromising Quality
              </div>
              <div class="heading-2 black-1 fs-20 fs-14-mob mt-15">
                Experience the pinnacle of quality and luxury with our exquisite home decor collections.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col-md-4">
            <div class="text-center-web">
              <img src="/images/our-story/sto-4.png">
              <div class="heading-1 fs-25 fs-18-mob black-1 mt-15">
                Personalized Touch
              </div>
              <div class="heading-2 black-1 fs-20 fs-14-mob mt-15">
                Infuse your home with a personalized touch as our decor pieces offer a bespoke experience tailored to
                your
                unique style.
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-40-mob">
            <div class="text-center-web">
              <img src="/images/our-story/sto-5.png">
              <div class="heading-1 fs-25 fs-18-mob black-1 mt-15">
                Lasting Impressions
              </div>
              <div class="heading-2 black-1 fs-20 fs-14-mob mt-15">
                Leave a lasting impression on your guests with our home decor, where every piece becomes a conversation
                starter.
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-40-mob">
            <div class="text-center-web">
              <img src="/images/our-story/sto-6.png">
              <div class="heading-1 fs-25 fs-18-mob black-1 mt-15">
                Luxury Redefined
              </div>
              <div class="heading-2 black-1 fs-20 fs-14-mob mt-15">
                Redefine the meaning of luxury in your home with our exclusive decor collections, where opulence meets
                functionality
                seamlessly.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col-md-4">
            <div class="text-center-web">
              <img src="/images/our-story/sto-7.png">
              <div class="heading-1 fs-25 fs-18-mob black-1 mt-15">
                Global Influence
              </div>
              <div class="heading-2 black-1 fs-20 fs-14-mob mt-15">
                Immerse your space in a worldly charm with our decor pieces inspired by international design trends,
                bringing a global
                flair to your home.
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-40-mob">
            <div class="text-center-web">
              <img src="/images/our-story/sto-8.png">
              <div class="heading-1 fs-25 fs-18-mob black-1 mt-15">
                Functional Aesthetics
              </div>
              <div class="heading-2 black-1 fs-20 fs-14-mob mt-15">
                Witness the perfect fusion of functionality and aesthetics as our decor items don't just look good but
                serve a purpose
                in enhancing your living space.
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-40-mob">
            <div class="text-center-web">
              <img src="/images/our-story/sto-9.png">
              <div class="heading-1 fs-25 fs-18-mob black-1 mt-15">
                Time-Tested Craftsmanship
              </div>
              <div class="heading-2 black-1 fs-20 fs-14-mob mt-15">
                Trust in the enduring quality of our decor items crafted with time-tested techniques, ensuring they
                stand the test of
                both time and trends.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  @media (max-width: 576px) {
    .owl-carousel .owl-item img {
      width: 20% !important;
    }
  }

  .owl-carousel .owl-item img {
    width: 30%;
  }

  .owl-theme .owl-dots .owl-dot.active span {
    background: #1e1e1e !important;
  }

  .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 40px;
  }
</style>

<script>
  $(document).ready(function () {
    $(".owl-1").owlCarousel({
      items: 1,
      margin: 10,
      loop: false,
      nav: false,
      dots: true
    });

  });
</script>