<%= render "shared/header" %>
  <section class="py-50">
    <div class="container">
      <div class="image-container mt-50">
        <div class="background-gradient"></div>
        <img src="/images/blogs/blog-detail-banner.png" class="w-100p" alt="Image with background gradient">
        <div style="z-index: 111;" class="position-5">
          <div class="heading-2 text-upper">blogs & Article</div>
          <div class="mt-20 heading-1 fs-35 w-70p">New Modern Sofa is Here with the primary tagline & all</div>
        </div>
      </div>
      <div class="mt-30">
        <div class="d-flex align-items-center justify-content-between">
          <div>
            <div class="d-flex align-items-center">
              <div class="sub-heading">
                Sep 26, 2022
              </div>
              <div class="border-2 ml-10" style="height: 15px;">
              </div>
              <div class="ml-10 sub-heading">
                Newest, sofa and chair , wooden
              </div>

            </div>
          </div>
          <div>
            <div class="d-flex align-items-center">
              <a href="https://www.facebook.com/ELANFurnishings" target="_blank" class="">
                <img src="/images/footer/footer-fb.png" class="w-30px">
              </a>
              <a href="https://www.instagram.com/elanfurnishing/" target="_blank" class="ml-10">
                <img src="/images/footer/footer-insta.png" class="w-30px">
              </a>
              <a href="" class="ml-10">
                <img src="/images/footer/footer-twit.png" class="w-30px">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="py-50">
    <div class="container">
      <div class="heading-1 fs-30 black-4">
        New modern sofa is here
      </div>
      <div class="mt-30 heading-2 fs-16 black-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa libero, mattis volutpat id. Egestas
        adipiscing placerat eleifend a nascetur. Mattis proin enim, nam porttitor vitae. Faucibus vel porttitor
        imperdiet
        ultricies a eget sed. Vestibulum velit vulputate amet nunc amet.
      </div>
      <div class="mt-30 heading-2 fs-16 black-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa libero, mattis volutpat id. Egestas
        adipiscing placerat eleifend a nascetur. Mattis proin enim, nam porttitor vitae. Faucibus vel porttitor imperdiet
        ultricies a eget sed. Vestibulum velit vulputate amet nunc amet. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Suspendisse massa libero, mattis volutpat id. Egestas adipiscing placerat eleifend a nascetur. Mattis proin enim,
        nam porttitor vitae. Faucibus vel porttitor imperdiet ultricies a eget sed. Vestibulum velit vulputate amet nunc amet.
      </div>
      <div class="mt-30 heading-2 fs-16 black-5">
        1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa libero, mattis volutpat id. Egestas
        adipiscing placerat eleifend a nascetur. Mattis proin enim, nam porttitor vitae. Faucibus vel porttitor imperdiet
        ultricies a eget sed. Vestibulum velit vulputate amet nunc amet.<br>
        2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa libero, mattis volutpat id. Egestas
        adipiscing placerat eleifend a nascetur. Mattis proin enim, nam porttitor vitae. Faucibus vel porttitor imperdiet
        ultricies a eget sed. Vestibulum velit vulputate amet nunc amet. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit.
      </div>
      <div class="mt-30 heading-2 fs-16 black-5">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa libero, mattis volutpat id. Egestas
      adipiscing placerat eleifend a nascetur. Mattis proin enim, nam porttitor vitae. Faucibus vel porttitor imperdiet
      ultricies a eget sed. Vestibulum velit vulputate amet nunc amet. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Suspendisse massa libero, mattis volutpat id. Egestas adipiscing placerat eleifend a nascetur. Mattis proin enim,
      nam porttitor vitae. Faucibus vel porttitor imperdiet ultricies a eget sed. Vestibulum velit vulputate amet nunc amet.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa libero, mattis volutpat id. Egestas
      adipiscing placerat eleifend a nascetur. Mattis proin enim, nam porttitor vitae. Faucibus vel porttitor imperdiet
      ultricies a eget sed. Vestibulum velit vulputate amet nunc amet. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Suspendisse massa libero, mattis volutpat id. Egestas adipiscing placerat eleifend a nascetur. Mattis proin enim,
      nam porttitor vitae. Faucibus vel porttitor imperdiet ultricies a eget sed. Vestibulum velit vulputate amet nunc amet.
      </div>
      
    </div>
  </section>

  <section class="container py-50">
    <div class="w-80p" data-aos="fade-down">
      <div class="owl-carousel blog-owl owl-theme">
        <div class="item">
          <div class="row">
            <div class="col-md-6">
              <div>
                <div class="">
                  <img src="/images/blogs/blog-5.png" class="w-100p">
                </div>
                <div class="mt-30">
                  <div class="border-3">
                  </div>
                </div>
                <div class="mt-20">
                  <div class="heading-2 fs-16 black-1">
                    Tips and Trick
                  </div>
                  <div class="mt-15">
                    <div class="heading-8 black-1">
                      Elements to add character to your space
                    </div>
                  </div>
                  <div class="mt-10">
                    <div class="heading-2 black-1 fs-16">
                      Pellentesque etiam blandit in
                      tincidunt at donec. Eget ipsum .
                    </div>
                  </div>
                  <div class="mt-15">
                    <div class="d-flex align-items-center">
                      <div>
                        <img src="/images/blogs/blogs-profile.png" style="width: 25px;">
                      </div>
                      <div class="ml-2">
                        <div class="heading-3 black-1 fs-12">
                          By Kim Gurameh
                        </div>
                      </div>
                      <div class="ml-3">
                        <div class="heading-2 black-1 fs-12">
                          Friday, 1 April 2022
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <div class="">
                  <img src="/images/blogs/blog-6.png" class="w-100p">
                </div>
                <div class="mt-30">
                  <div class="border-3">
                  </div>
                </div>
                <div class="mt-20">
                  <div class="heading-2 fs-16 black-1">
                    Tips and Trick
                  </div>
                  <div class="mt-15">
                    <div class="heading-8 black-1">
                      Elements to add character to your space
                    </div>
                  </div>
                  <div class="mt-10">
                    <div class="heading-2 black-1 fs-16">
                      Pellentesque etiam blandit in
                      tincidunt at donec. Eget ipsum .
                    </div>
                  </div>
                  <div class="mt-15">
                    <div class="d-flex align-items-center">
                      <div>
                        <img src="/images/blogs/blogs-profile.png" style="width: 25px;">
                      </div>
                      <div class="ml-2">
                        <div class="heading-3 black-1 fs-12">
                          By Kim Gurameh
                        </div>
                      </div>
                      <div class="ml-3">
                        <div class="heading-2 black-1 fs-12">
                          Friday, 1 April 2022
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-6">
              <div>
                <div class="">
                  <img src="/images/blogs/blog-5.png" class="w-100p">
                </div>
                <div class="mt-30">
                  <div class="border-3">
                  </div>
                </div>
                <div class="mt-20">
                  <div class="heading-2 fs-16 black-1">
                    Tips and Trick
                  </div>
                  <div class="mt-15">
                    <div class="heading-8 black-1">
                      Elements to add character to your space
                    </div>
                  </div>
                  <div class="mt-10">
                    <div class="heading-2 black-1 fs-16">
                      Pellentesque etiam blandit in
                      tincidunt at donec. Eget ipsum .
                    </div>
                  </div>
                  <div class="mt-15">
                    <div class="d-flex align-items-center">
                      <div>
                        <img src="/images/blogs/blogs-profile.png" style="width: 25px;">
                      </div>
                      <div class="ml-2">
                        <div class="heading-3 black-1 fs-12">
                          By Kim Gurameh
                        </div>
                      </div>
                      <div class="ml-3">
                        <div class="heading-2 black-1 fs-12">
                          Friday, 1 April 2022
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <div class="">
                  <img src="/images/blogs/blog-6.png" class="w-100p">
                </div>
                <div class="mt-30">
                  <div class="border-3">
                  </div>
                </div>
                <div class="mt-20">
                  <div class="heading-2 fs-16 black-1">
                    Tips and Trick
                  </div>
                  <div class="mt-15">
                    <div class="heading-8 black-1">
                      Elements to add character to your space
                    </div>
                  </div>
                  <div class="mt-10">
                    <div class="heading-2 black-1 fs-16">
                      Pellentesque etiam blandit in
                      tincidunt at donec. Eget ipsum .
                    </div>
                  </div>
                  <div class="mt-15">
                    <div class="d-flex align-items-center">
                      <div>
                        <img src="/images/blogs/blogs-profile.png" style="width: 25px;">
                      </div>
                      <div class="ml-2">
                        <div class="heading-3 black-1 fs-12">
                          By Kim Gurameh
                        </div>
                      </div>
                      <div class="ml-3">
                        <div class="heading-2 black-1 fs-12">
                          Friday, 1 April 2022
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-6">
              <div>
                <div class="">
                  <img src="/images/blogs/blog-5.png" class="w-100p">
                </div>
                <div class="mt-30">
                  <div class="border-3">
                  </div>
                </div>
                <div class="mt-20">
                  <div class="heading-2 fs-16 black-1">
                    Tips and Trick
                  </div>
                  <div class="mt-15">
                    <div class="heading-8 black-1">
                      Elements to add character to your space
                    </div>
                  </div>
                  <div class="mt-10">
                    <div class="heading-2 black-1 fs-16">
                      Pellentesque etiam blandit in
                      tincidunt at donec. Eget ipsum .
                    </div>
                  </div>
                  <div class="mt-15">
                    <div class="d-flex align-items-center">
                      <div>
                        <img src="/images/blogs/blogs-profile.png" style="width: 25px;">
                      </div>
                      <div class="ml-2">
                        <div class="heading-3 black-1 fs-12">
                          By Kim Gurameh
                        </div>
                      </div>
                      <div class="ml-3">
                        <div class="heading-2 black-1 fs-12">
                          Friday, 1 April 2022
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <div class="">
                  <img src="/images/blogs/blog-6.png" class="w-100p">
                </div>
                <div class="mt-30">
                  <div class="border-3">
                  </div>
                </div>
                <div class="mt-20">
                  <div class="heading-2 fs-16 black-1">
                    Tips and Trick
                  </div>
                  <div class="mt-15">
                    <div class="heading-8 black-1">
                      Elements to add character to your space
                    </div>
                  </div>
                  <div class="mt-10">
                    <div class="heading-2 black-1 fs-16">
                      Pellentesque etiam blandit in
                      tincidunt at donec. Eget ipsum .
                    </div>
                  </div>
                  <div class="mt-15">
                    <div class="d-flex align-items-center">
                      <div>
                        <img src="/images/blogs/blogs-profile.png" style="width: 25px;">
                      </div>
                      <div class="ml-2">
                        <div class="heading-3 black-1 fs-12">
                          By Kim Gurameh
                        </div>
                      </div>
                      <div class="ml-3">
                        <div class="heading-2 black-1 fs-12">
                          Friday, 1 April 2022
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= render "shared/call_back" %>

    <%= render "shared/footer" %>

      <style>
        .navbar {
          display: none;
        }

        .position-1 {
          position: initial !important;
        }

        .image-container {
          position: relative;
        }

        .background-gradient {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(107deg, #000 -61.68%, rgba(0, 0, 0, 0.00) 146.43%);
          z-index: 11;
        }

        img {
          position: relative;
          z-index: 1;
        }

        .owl-nav {
          margin-top: 60px !important;
        }
      </style>

      <script>
        $(document).ready(function () {
          $(".blog-owl").owlCarousel({
            items: 1,
            margin: 10,
            loop: true,
            nav: true,
            dots: false
          });
          $(".blog-owl .owl-nav .owl-prev").html('<img src="/images/blogs/blog-arrow-left.png" class="w-40px">');
          $(".blog-owl .owl-nav .owl-next").html('<img src="/images/blogs/blog-arrow-right.png" class="w-40px">');
        });
      </script>