<%= render "shared/header" %>

  <div class="grey-bg-1">
    <section class="bg-images" style="background-image: url('/images/faq/faq-banner.png');">
      <div class="bg-shadow-1 h-90vh h-80vh-lg h-80vh-md h-80vh-mob">
        <div class="container">
          <div class="h-90vh h-80vh-lg h-80vh-md h-80vh-mob d-flex align-items-center justify-content-center">
            <div class="zoom">
              <div data-aos="fade-up" class="heading-4 white fs-26 fs-18-mob text-upper text-center">
                FAQ’s
              </div>
              <div data-aos="fade-up" class="mt-15 w-100p w-90p-mob mx-auto fs-25-mob heading-1 text-center">
                Ask questions for your query
              </div>
              <!-- <div data-aos="fade-up" class="mt-30 w-80p w-90p-mob mx-auto fs-14-mob heading-3 white text-center">
              Welcome to Elan Furnishings, where we redefine home decor with our timeless creations that blend artistry,
              precision,
              and uncompromising quality to transform your living spaces into masterpieces of beauty and sophistication.
            </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="">
      <div class="container">
        <div class="heading-1 fs-35 fs-25-mob black-1 text-center mt-30" data-aos="fade-down">
          Let’s build your home together!
        </div>
        <div class="mt-20 text-center sub-heading black-1 fs-18 fs-14-mob lh-30" data-aos="fade-down">
          Building a new home and furnishing your own space is a reflection of your personality. It’s one of the most
          delightful
          things you do! Here are a few questions that people often ask us. If you have any other questions, you can
          reach us by
          clicking on the contact us button.
        </div>
        <div class="accordion" id="accordionExample">
          <div class="card" data-aos="fade-up">
            <div class="card-head collapsed" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="false" aria-controls="collapseOne">
              <h2>
                Can I sit at home & revamp my home?
              </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                Yes, absolutely! Our expert team will understand your space. We endeavour to transform your space with
                our home design
                services.
              </div>
            </div>
          </div>
          <div class="card" data-aos="fade-up">
            <div class="card-head collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              <h2>
                What are the sizes of your Bed Covers?
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                Our Bed Covers are standard 90 X 108”. We also do specialised measurements in 100 X 10”
              </div>
            </div>
          </div>
          <div class="card" data-aos="fade-up">
            <div class="card-head collapsed" id="headingThree" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              <h2>
                Do you customise Bed Linens?
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                Yes, we do customise Bed Linens according to the size preference of fabric & design of the clients.
              </div>
            </div>
          </div>
          <div class="card" data-aos="fade-up">
            <div class="card-head collapsed" id="headingFour" data-toggle="collapse" data-target="#collapseFour"
              aria-expanded="false" aria-controls="collapseFour">
              <h2>
                Can Curtains be washed?
              </h2>
            </div>

            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                It’s safest to give your curtains to a professional laundry.
              </div>
            </div>
          </div>
          <div class="card" data-aos="fade-up">
            <div class="card-head collapsed" id="headingFive" data-toggle="collapse" data-target="#collapseFive"
              aria-expanded="false" aria-controls="collapseFive">
              <h2>
                Can Upholstery be washed?
              </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
              <div class="card-body">
                No, sticked upholstery cannot be washed. However loose covers can be washed by hand in cold water.
              </div>
            </div>
          </div>
          <div class="card" data-aos="fade-up">
            <div class="card-head collapsed" id="headingSix" data-toggle="collapse" data-target="#collapseSix"
              aria-expanded="false" aria-controls="collapseSix">
              <h2>
                Do you do customisation?
              </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
              <div class="card-body">
                We offer specialised services for medium & large sized orders. We have worked with reputed interior
                designers and
                reputed hotels to fulfill their bedding and bath needs.
              </div>
            </div>
          </div>
          <div class="card" data-aos="fade-up">
            <div class="card-head collapsed" id="headingSeven" data-toggle="collapse" data-target="#collapseSeven"
              aria-expanded="false" aria-controls="collapseSeven">
              <h2>
                What are sheer curtains?
              </h2>
            </div>

            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
              <div class="card-body">
                It's an undeniable fact that curtains & drapes possess an elegance unrivalled by other window
                treatments. Sheer curtains
                or sheers are lightweight, easy to hang fabrics that instantly add a hazy, dreamy quality to a room
                without dominating
                the decor. Right from enveloping the windows and softening the lighting to adding an infusion of style
                into your
                interior decor.
              </div>
            </div>
          </div>
          <div class="card" data-aos="fade-up">
            <div class="card-head collapsed" id="headingEight" data-toggle="collapse" data-target="#collapseEight"
              aria-expanded="false" aria-controls="collapseEight">
              <h2>
                <span>How does upholstery play a role in the look & feel of the space?</span>
              </h2>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
              <div class="card-body">
                Once the design is finalised, the next step is selecting the right fabric for the furniture and space.
                This stage is
                very important to detail which makes the space look elegant, friendly & comfortable. While there are
                endless choices one
                needs to be practical in their selection for the right space. The right upholstery is an investment, so
                it is very
                important to find a fabric you will love for a long run & yet make you comfortable.
              </div>
            </div>
          </div>
          <div class="card" data-aos="fade-up">
            <div class="card-head collapsed" id="headingNine" data-toggle="collapse" data-target="#collapseNine"
              aria-expanded="false" aria-controls="collapseNine">
              <h2>
                Can leather sofas be reupholstered?
              </h2>
            </div>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
              <div class="card-body">
                Yes, any sofa can be reupholstered. Just make sure you have a good frame and the piece is well built to begin with.
              </div>
            </div>
          </div>
          <div class="card" data-aos="fade-up">
            <div class="card-head collapsed" id="headingTen" data-toggle="collapse" data-target="#collapseTen"
              aria-expanded="false" aria-controls="collapseTen">
              <h2>
                Do your Duvet Covers come with Pillow Case?
              </h2>
            </div>
            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
              <div class="card-body">
                Yes, some sets do, while the solid colour covers come separately.
              </div>
            </div>
          </div>
          <div class="card" data-aos="fade-up">
            <div class="card-head collapsed" id="headingEleven" data-toggle="collapse" data-target="#collapseEleven"
              aria-expanded="false" aria-controls="collapseEleven">
              <h2>
                Do you provide interior Suggestions?
              </h2>
            </div>
            <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
              <div class="card-body">
                Yes, we do. We can help you with end to end soft furnishing solutions. Feel free to book an appointment with us.
              </div>
            </div>
          </div>
          <div class="card" data-aos="fade-up">
            <div class="card-head collapsed" id="headingTwelve" data-toggle="collapse" data-target="#collapseTwelve"
              aria-expanded="false" aria-controls="collapseTwelve">
              <h2>
                How do I know if a custom furniture store is good?
              </h2>
            </div>
            <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionExample">
              <div class="card-body">
                Custom furniture will take longer to produce than other items. Pay Attention to the Questions they ask.
              </div>
            </div>
          </div>
          <div class="card" data-aos="fade-up">
            <div class="card-head collapsed" id="headingThirteen" data-toggle="collapse" data-target="#collapseThirteen"
              aria-expanded="false" aria-controls="collapseThirteen">
              <h2>
                Do you sell furniture?
              </h2>
            </div>
            <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordionExample">
              <div class="card-body">
                Yes, we do customised furniture on order.
              </div>
            </div>
          </div>
          <div class="card" data-aos="fade-up">
            <div class="card-head collapsed" id="headingFourteen" data-toggle="collapse" data-target="#collapseFourteen"
              aria-expanded="false" aria-controls="collapseFourteen">
              <h2>
                Why should I use wallpapers?
              </h2>
            </div>
            <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordionExample">
              <div class="card-body">
                An interior can be based around your wallpaper choices, pulling colours from the designs & picking contemporary tones in
                access, soft furnishing makes designing easier.
              </div>
            </div>
          </div>
          <div class="card" data-aos="fade-up">
            <div class="card-head collapsed" id="headingFifteen" data-toggle="collapse" data-target="#collapseFifteen"
              aria-expanded="false" aria-controls="collapseFifteen">
              <h2>
                Is Wallpaper better or paint?
              </h2>
            </div>
            <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordionExample">
              <div class="card-body">
                Although both wallpaper & paint liven up dull rooms, wallpaper has specific advantages. It can camouflage flawed or
                damaged walls, soften rough or irregular architectural features.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <section class="mb-50 mt-50">
      <div class="container text-center" data-aos="fade-up">
        <a href="<%= contact_us_path %>">
          <button type="submit" class="btn btn-4">Contact Us</button>
        </a>
      </div>
    </section>

    <%= render "shared/call_back" %>

      <%= render "shared/footer" %>
  </div>



  <style>
    .accordion {
      margin-top: 40px;
    }

    .accordion .card {
      border-radius: 16px !important;
      background: #FFF;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      margin-bottom: 20px;
      padding: 30px;
    }

    .accordion .card-head h2 {
      /* background: url('/images/faq/acc-down.png') no-repeat calc(100% - 10px) center;
      background-size: 20px; */
      cursor: pointer;
      font-size: 18px;
      font-family: 'Jost', sans-serif;
      color: #3A3A3A;
      font-weight: 600;
      width: 80%;
    }

    /* .accordion .card h2.collapsed {
      background-image: url('/images/faq/acc-down.png');
    } */

    .accordion .card-body {
      color: #515151;
      font-family: 'Jost', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
    }

    .card-head {
      position: relative;
    }

    .card-head::after {
      content: '';
      background-image: url('/images/faq/grey-arrow.png');
      /* Replace with the actual path to your arrow image */
      background-size: contain;
      display: inline-block;
      width: 20px;
      /* Adjust the width as needed */
      height: 20px;
      /* Adjust the height as needed */
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
 
    .card-head.collapsed::after {
      background-image: url('/images/faq/acc-down.png');
    }

    @media (max-width: 767px) {
      .accordion .card {
        padding: 15px;
      }

      .accordion .card-head h2{
        font-size: 14px;
      }

      .accordion .card-body{
        font-size: 14px;
        line-height: 20px;
        padding: 0.7rem !important;
      }

    }
  </style>