<%= render "shared/header" %>
  <section class="bg-image-1 position-relative">
    <div class="bg-shadow h-100vh">
      <div class="container-1">
        <div class="row h-100vh align-items-center">
          <div class="col-md-5">
          </div>
          <div class="col-md-7 animated-text">
            <div class="heading-1 text-right word">Curated Decor, in vogue and luxury for your dream home</div>
            <div class="mt-3 heading-2 text-right word">There are many variations of the passages of lorem Ipsum
              fromavailable,variations of the
              passages.</div>
          </div>
        </div>
        <div class="text-right position-2 sr-fade">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="57" viewBox="0 0 50 67" fill="none">
            <rect x="2.35645" y="1.5" width="46" height="64" rx="23" stroke="white" stroke-width="3" />
            <path d="M25.8564 20L25.8564 39" stroke="white" stroke-width="3" stroke-linecap="round">
              <animate attributeName="d" dur="1s"
                values="M25.8564 20L25.8564 39; M25.8564 15L25.8564 44; M25.8564 20L25.8564 39"
                repeatCount="indefinite" />
            </path>
          </svg>
        </div>
      </div>
    </div>
  </section>

  <section class="black-bg-1 pt-40 pb-400">
    <div class="container-1">
      <div class="heading-2 text-center animated-text">
        <span class="word">
          CATEGORIES
        </span>
      </div>
      <div class="mt-4 heading-1 text-center animated-text">
        <span class="word">
          Crafting an ambience with</span><br><span class="word"> style and luxury
        </span>
      </div>

      <div class="mt-40">
        <!-- Nav tabs -->
        <div class="mx-30">
          <div class="row">
            <div class="col-md-3">
              <div class="nav-item tab-head sl-fade">
                <a class="nav-link" data-toggle="tab" href="#tab-1" role="tab"><span><img
                      src="/images/home-page/tab-img.png" class="w-25px mr-3">Accessories</span></a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="nav-item tab-head sl-fade">
                <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab"><span><img
                      src="/images/home-page/tab-img.png" class="w-25px mr-3">Furnitures</span></a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="nav-item tab-head sr-fade">
                <a class="nav-link" data-toggle="tab" href="#tab-3" role="tab"><span><img
                      src="/images/home-page/tab-img.png" class="w-25px mr-3">Fabrics & DRAPERY</span></a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="nav-item tab-head sr-fade">
                <a class="nav-link" data-toggle="tab" href="#tab-4" role="tab"><span><img
                      src="/images/home-page/tab-img.png" class="w-25px mr-3">FLOOR COVERINGS</span></a>
              </div>
            </div>
          </div>

          <div class="row mt-30">
            <div class="col-md-3">
              <div class="nav-item tab-head sl-fade">
                <a class="nav-link" data-toggle="tab" href="#tab-5" role="tab"><span><img
                      src="/images/home-page/tab-img.png" class="w-25px mr-3">Wall Coverings</span></a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="nav-item tab-head sl-fade">
                <a class="nav-link" data-toggle="tab" href="#tab-6" role="tab"><span><img
                      src="/images/home-page/tab-img.png" class="w-25px mr-3">TRIMS & TASSELS</span></a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="nav-item tab-head sr-fade">
                <a class="nav-link" data-toggle="tab" href="#tab-7" role="tab"><span><img
                      src="/images/home-page/tab-img.png" class="w-25px mr-3">MATTRESSES</span></a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="nav-item tab-head sr-fade">
                <a class="nav-link" data-toggle="tab" href="#tab-8" role="tab"><span><img
                      src="/images/home-page/tab-img.png" class="w-25px mr-3">HARDWARE & AUTOMATION</span></a>
              </div>
            </div>
          </div>

          <div class="row mt-30 justify-content-center">
            <div class="col-md-3">
              <div class="nav-item tab-head sl-fade">
                <a class="nav-link" data-toggle="tab" href="#tab-9" role="tab"><span><img
                      src="/images/home-page/tab-img.png" class="w-25px mr-3">Lighting</span></a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="nav-item tab-head">
                <a class="nav-link" data-toggle="tab" href="#tab-10" role="tab"><span><img
                      src="/images/home-page/tab-img.png" class="w-25px mr-3">Bath & Bed linen</span></a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="nav-item tab-head sr-fade">
                <a class="nav-link" data-toggle="tab" href="#tab-11" role="tab"><span><img
                      src="/images/home-page/tab-img.png" class="w-25px mr-3">tablewares</span></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Content -->
        <div class="row mt-50">
          <div class="col-md-12">
            <div id="tab-1" class="tab-content">
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <img src="/images/home-page/tab-1-1.png" class="w-100">
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <img src="/images/home-page/tab-1-2.png" class="w-100">
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <img src="/images/home-page/tab-1-3.png" class="w-100">
                  </div>
                </div>
              </div>
              <div class="row mt-20">
                <div class="col-md-4">
                  <div>
                    <img src="/images/home-page/tab-1-4.png" class="w-100">
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <img src="/images/home-page/tab-1-5.png" class="w-100">
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <img src="/images/home-page/tab-1-6.png" class="w-100">
                  </div>
                </div>
              </div>
              <div class="mt-50 d-flex justify-content-center">
                <button type="button" class="btn btn-1">VIEW ALL</button>
              </div>
            </div>
            <div id="tab-2" class="tab-content">
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <img src="/images/home-page/tab-1-4.png" class="w-100">
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <img src="/images/home-page/tab-1-5.png" class="w-100">
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <img src="/images/home-page/tab-1-6.png" class="w-100">
                  </div>
                </div>
              </div>
              <div class="row mt-20">
                <div class="col-md-4">
                  <div>
                    <img src="/images/home-page/tab-1-1.png" class="w-100">
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <img src="/images/home-page/tab-1-2.png" class="w-100">
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <img src="/images/home-page/tab-1-3.png" class="w-100">
                  </div>
                </div>
              </div>
              <div class="mt-50 d-flex justify-content-center">
                <button type="button" class="btn btn-1">VIEW ALL</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-50">
        <div class="position-relative">
          <img src="/images/home-page/banner-2.png" class="w-100 position-absolute sl-fade">
        </div>
      </div>
    </div>
  </section>


  <section class="sandal-bg pt-350 pb-40">
    <div class="container-1">
      <div class="fs-16 heading-2 black-1 text-center animated-text">
        <span class="word">BOOK APPOINTMENT</span>
      </div>
      <div class="mt-15 heading-1 text-center black-1 fs-35 animated-text">
        <span class="word">We Create The Art Of Stylish <br> Living Stylishly</span>
      </div>
      <div class="mt-50 heading-2 px-300 black-1 text-center fs-20 animated-text">
        <span class="word">It is a long established fact that a reader will be distracted by the of readable content of
          a page when
          lookings at its
          layouts the points of using that it has a more-or-less normal.</span>
      </div>
      <div class="mt-30 text-center sr-fade">
        <svg xmlns="http://www.w3.org/2000/svg" id="phone" width="50" height="50" viewBox="0 0 60 60" fill="none">
          <circle cx="30" cy="30" r="30" fill="#A7833D" />
          <path
            d="M41.2197 36.5898C40.2653 35.6283 37.954 34.2251 36.8326 33.6596C35.3722 32.9241 35.252 32.864 34.1041 33.7167C33.3385 34.2858 32.8295 34.7942 31.9334 34.6031C31.0373 34.412 29.0902 33.3345 27.3852 31.6351C25.6802 29.9356 24.5402 27.9321 24.3485 27.0391C24.1568 26.1461 24.6736 25.6432 25.2373 24.8758C26.0318 23.7941 25.9717 23.6138 25.2926 22.1535C24.7632 21.0178 23.319 18.7282 22.3538 17.7787C21.3214 16.7589 21.3214 16.9392 20.6561 17.2156C20.1145 17.4435 19.5949 17.7205 19.1038 18.0431C18.1422 18.6819 17.6085 19.2125 17.2353 20.01C16.8621 20.8074 16.6944 22.6769 18.6218 26.178C20.5491 29.679 21.9013 31.4692 24.7001 34.26C27.4988 37.0507 29.6509 38.5513 32.797 40.3156C36.6889 42.4952 38.1817 42.0703 38.9816 41.6978C39.7815 41.3252 40.3146 40.7964 40.9547 39.8349C41.2781 39.3446 41.5558 38.8256 41.784 38.2844C42.0611 37.6216 42.2413 37.6216 41.2197 36.5898Z"
            fill="#A7833D" stroke="white" stroke-width="2" stroke-miterlimit="10" />
        </svg>
      </div>
      <div class="mt-20 text-center sl-fade">
        <button type="button" class="btn btn-2">book appointment</button>
      </div>
    </div>
  </section>

  <section class="black-bg-2 pt-40 pb-400">
    <div class="container-1">
      <div class="heading-1 fs-35 text-center animated-text">
        <span class="word">What are client say</span>
      </div>
      <div class="mt-20 heading-3 text-center animated-text">
        <span class="word">What our customer thinks about us?</span>
      </div>

      <div class="mt-30 sl-fade">
        <div class="owl-carousel owl-1 owl-theme">
          <div class="item">
            <div class="d-flex">
              <div class="flex-1">
                <img src="/images/home-page/slide-1.png" class="max-w-100 h-auto" alt="Your Image">
              </div>
              <div class="flex-1 p-40 black-bg-3">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="w-20p">
                    <img src="/images/home-page/avatar-1.png" class="w-100">
                  </div>
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="125" height="125" viewBox="0 0 148 148" fill="none">
                      <g clip-path="url(#clip0_372_7147)">
                        <path
                          d="M49.3333 123.337H24.6667C18.1247 123.337 11.8506 120.738 7.2247 116.112C2.5988 111.487 0 105.213 0 98.6705L0 74.0039C0 70.7329 1.2994 67.5958 3.61235 65.2829C5.9253 62.9699 9.06233 61.6705 12.3333 61.6705H48.7783C47.3152 53.0585 42.8551 45.2408 36.1862 39.5988C29.5173 33.9567 21.0687 30.8534 12.3333 30.8372C10.6978 30.8372 9.12932 30.1875 7.97284 29.031C6.81637 27.8745 6.16667 26.306 6.16667 24.6705C6.16667 23.035 6.81637 21.4665 7.97284 20.31C9.12932 19.1536 10.6978 18.5039 12.3333 18.5039C25.4128 18.5185 37.9524 23.7209 47.201 32.9695C56.4497 42.2181 61.652 54.7577 61.6667 67.8372V111.004C61.6667 114.275 60.3673 117.412 58.0543 119.725C55.7414 122.038 52.6043 123.337 49.3333 123.337Z"
                          fill="#A7833D" fill-opacity="0.4" />
                        <path
                          d="M135.667 123.337H111.001C104.459 123.337 98.1846 120.738 93.5587 116.112C88.9328 111.487 86.334 105.213 86.334 98.6705V74.0039C86.334 70.7329 87.6334 67.5958 89.9463 65.2829C92.2593 62.9699 95.3963 61.6705 98.6673 61.6705H135.112C133.649 53.0585 129.189 45.2408 122.52 39.5988C115.851 33.9567 107.403 30.8534 98.6673 30.8372C97.0318 30.8372 95.4633 30.1875 94.3068 29.031C93.1504 27.8745 92.5007 26.306 92.5007 24.6705C92.5007 23.035 93.1504 21.4665 94.3068 20.31C95.4633 19.1536 97.0318 18.5039 98.6673 18.5039C111.747 18.5185 124.286 23.7209 133.535 32.9695C142.784 42.2181 147.986 54.7577 148.001 67.8372V111.004C148.001 114.275 146.701 117.412 144.388 119.725C142.075 122.038 138.938 123.337 135.667 123.337Z"
                          fill="#A7833D" fill-opacity="0.4" />
                      </g>
                      <defs>
                        <clipPath id="clip0_372_7147">
                          <rect width="148" height="148" fill="white" transform="matrix(1 0 0 -1 0 148)" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
                <div class="mt-30">
                  <div class="heading-4">
                    The sofa is not only incredibly stylish, but also very comfortable to lounge on. The clean lines and
                    minimalist design
                    make it a perfect fit for my modern living room, <span class="brown">incorporate other accent
                      pieces.</span>
                  </div>
                </div>
                <div class="mt-30">
                  <div class="heading-5">
                    Larry Jonhson
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="d-flex">
              <div class="flex-1">
                <img src="/images/home-page/slide-1.png" class="max-w-100 h-auto" alt="Your Image">
              </div>
              <div class="flex-1 p-40 black-bg-3">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="w-20p">
                    <img src="/images/home-page/avatar-1.png" class="w-100">
                  </div>
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="125" height="125" viewBox="0 0 148 148" fill="none">
                      <g clip-path="url(#clip0_372_7147)">
                        <path
                          d="M49.3333 123.337H24.6667C18.1247 123.337 11.8506 120.738 7.2247 116.112C2.5988 111.487 0 105.213 0 98.6705L0 74.0039C0 70.7329 1.2994 67.5958 3.61235 65.2829C5.9253 62.9699 9.06233 61.6705 12.3333 61.6705H48.7783C47.3152 53.0585 42.8551 45.2408 36.1862 39.5988C29.5173 33.9567 21.0687 30.8534 12.3333 30.8372C10.6978 30.8372 9.12932 30.1875 7.97284 29.031C6.81637 27.8745 6.16667 26.306 6.16667 24.6705C6.16667 23.035 6.81637 21.4665 7.97284 20.31C9.12932 19.1536 10.6978 18.5039 12.3333 18.5039C25.4128 18.5185 37.9524 23.7209 47.201 32.9695C56.4497 42.2181 61.652 54.7577 61.6667 67.8372V111.004C61.6667 114.275 60.3673 117.412 58.0543 119.725C55.7414 122.038 52.6043 123.337 49.3333 123.337Z"
                          fill="#A7833D" fill-opacity="0.4" />
                        <path
                          d="M135.667 123.337H111.001C104.459 123.337 98.1846 120.738 93.5587 116.112C88.9328 111.487 86.334 105.213 86.334 98.6705V74.0039C86.334 70.7329 87.6334 67.5958 89.9463 65.2829C92.2593 62.9699 95.3963 61.6705 98.6673 61.6705H135.112C133.649 53.0585 129.189 45.2408 122.52 39.5988C115.851 33.9567 107.403 30.8534 98.6673 30.8372C97.0318 30.8372 95.4633 30.1875 94.3068 29.031C93.1504 27.8745 92.5007 26.306 92.5007 24.6705C92.5007 23.035 93.1504 21.4665 94.3068 20.31C95.4633 19.1536 97.0318 18.5039 98.6673 18.5039C111.747 18.5185 124.286 23.7209 133.535 32.9695C142.784 42.2181 147.986 54.7577 148.001 67.8372V111.004C148.001 114.275 146.701 117.412 144.388 119.725C142.075 122.038 138.938 123.337 135.667 123.337Z"
                          fill="#A7833D" fill-opacity="0.4" />
                      </g>
                      <defs>
                        <clipPath id="clip0_372_7147">
                          <rect width="148" height="148" fill="white" transform="matrix(1 0 0 -1 0 148)" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
                <div class="mt-30">
                  <div class="heading-4">
                    The sofa is not only incredibly stylish, but also very comfortable to lounge on. The clean lines and
                    minimalist design
                    make it a perfect fit for my modern living room, <span class="brown">incorporate other accent
                      pieces.</span>
                  </div>
                </div>
                <div class="mt-30">
                  <div class="heading-5">
                    Larry Jonhson
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-100">
        <div class="animated-text">
          <img src="/images/home-page/brand-banner.png" class="w-100 word">
        </div>
      </div>

      <div class="mt-40">
        <div class="heading-1 fs-35 text-center animated-text">
          <span class="word">Brands we house</span>
        </div>
        <div class="mt-20 fs-18 px-300 grey heading-2 text-center animated-text">
          <span class="word">
            Pellentesque etiam blandit in tincidunt at donec. Eget ipsum dignissim placerat nisi, adipiscing mauris non
            purus
            parturient.
          </span>
        </div>
      </div>

      <div class="mt-80 sl-fade">
        <div class="owl-carousel owl-2 owl-theme">
          <div class="item">
            <div class="row align-items-center">
              <div class="col-md-1">
              </div>
              <div class="col-md-2">
                <div class="img-center">
                  <img src="images/home-page/bran-1.png" class="w-50p">
                </div>
              </div>
              <div class="col-md-2">
                <div class="img-center">
                  <img src="images/home-page/bran-2.png" class="w-50p">
                </div>
              </div>
              <div class="col-md-2">
                <div class="img-center">
                  <img src="images/home-page/bran-3.png" class="w-50p">
                </div>
              </div>
              <div class="col-md-2">
                <div class="img-center">
                  <img src="images/home-page/bran-4.png" class="w-50p">
                </div>
              </div>
              <div class="col-md-2">
                <div class="img-center">
                  <img src="images/home-page/bran-5.png" class="w-50p">
                </div>
              </div>
              <div class="col-md-1">
              </div>
            </div>
            <div class="row align-items-center mt-40">
              <div class="col-md-1">
              </div>
              <div class="col-md-2">
                <div class="img-center">
                  <img src="images/home-page/bran-1.png" class="w-50p">
                </div>
              </div>
              <div class="col-md-2">
                <div class="img-center">
                  <img src="images/home-page/bran-2.png" class="w-50p">
                </div>
              </div>
              <div class="col-md-2">
                <div class="img-center">
                  <img src="images/home-page/bran-3.png" class="w-50p">
                </div>
              </div>
              <div class="col-md-2">
                <div class="img-center">
                  <img src="images/home-page/bran-4.png" class="w-50p">
                </div>
              </div>
              <div class="col-md-2">
                <div class="img-center">
                  <img src="images/home-page/bran-5.png" class="w-50p">
                </div>
              </div>
              <div class="col-md-1">
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row align-items-center">
              <div class="col-md-1">
              </div>
              <div class="col-md-2">
                <div class="img-center">
                  <img src="images/home-page/bran-1.png" class="w-50p">
                </div>
              </div>
              <div class="col-md-2">
                <div class="img-center">
                  <img src="images/home-page/bran-2.png" class="w-50p">
                </div>
              </div>
              <div class="col-md-2">
                <div class="img-center">
                  <img src="images/home-page/bran-3.png" class="w-50p">
                </div>
              </div>
              <div class="col-md-2">
                <div class="img-center">
                  <img src="images/home-page/bran-4.png" class="w-50p">
                </div>
              </div>
              <div class="col-md-2">
                <div class="img-center">
                  <img src="images/home-page/bran-5.png" class="w-50p">
                </div>
              </div>
              <div class="col-md-1">
              </div>
            </div>
            <div class="row align-items-center mt-40">
              <div class="col-md-1">
              </div>
              <div class="col-md-2">
                <div class="img-center">
                  <img src="images/home-page/bran-1.png" class="w-50p">
                </div>
              </div>
              <div class="col-md-2">
                <div class="img-center">
                  <img src="images/home-page/bran-2.png" class="w-50p">
                </div>
              </div>
              <div class="col-md-2">
                <div class="img-center">
                  <img src="images/home-page/bran-3.png" class="w-50p">
                </div>
              </div>
              <div class="col-md-2">
                <div class="img-center">
                  <img src="images/home-page/bran-4.png" class="w-50p">
                </div>
              </div>
              <div class="col-md-2">
                <div class="img-center">
                  <img src="images/home-page/bran-5.png" class="w-50p">
                </div>
              </div>
              <div class="col-md-1">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-50">
        <div class="position-relative sr-fade">
          <img src="/images/home-page/banner-3.png" class="w-100 position-absolute top-125">
        </div>
      </div>
    </div>
  </section>

  <section class="pt-250 pb-100">
    <div class="container-1">
      <div class="row">
        <div class="col-md-6">
          <div class="pr-70">
            <div class="heading-1 black-2 fs-35 animated-text">
              <span class="word">Brands we work with</span>
            </div>
            <div class="heading-2 black-1 fs-20 mt-30 animated-text">
              <span class="word">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration
                in
                some form,
                by injected humour, or randomised words which don't look even slightly believable.
              </span>
            </div>
            <div class="heading-2 black-1 fs-20 mt-30 animated-text">
              <span class="word">
                If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing
                hidden in the
                middle of text.
              </span>
            </div>
            <div class="mt-80 animated-text">
              <button type="button" class="btn btn-2 word">EXPLORE OUR brands</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mx-50">
            <div class="row">
              <div class="col-md-4 text-center">
                <img src="images/home-page/laspen-logo.png" class="w-70p">
                <img src="images/home-page/n-logo.png" class="w-70p">
                <img src="images/home-page/missy-logo.png" class="w-70p">
                <img src="images/home-page/missy-logo.png" class="w-70p">
              </div>
              <div class="col-md-4 text-center">
                <img src="images/home-page/crop-logo.png" class="w-70p">
                <img src="images/home-page/pixie-logo.png" class="w-70p">
                <img src="images/home-page/pepper-logo.png" class="w-70p">
                <img src="images/home-page/laspen-logo.png" class="w-70p">
              </div>
              <div class="col-md-4 text-center">
                <img src="images/home-page/n-logo.png" class="w-70p">
                <img src="images/home-page/pepper-logo.png" class="w-70p">
                <img src="images/home-page/pixie-logo.png" class="w-70p">
                <img src="images/home-page/crop-logo.png" class="w-70p">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="black-bg-1 py-50">
    <div class="container-1">
      <div class="heading-1 fs-35 text-center animated-text">
        <span class="word">Work we have done</span>
      </div>
      <div class="heading-2 grey fs-18 mt-20 text-center px-300 animated-text">
        <span class="word">
          Pellentesque etiam blandit in tincidunt at donec. Eget ipsum dignissim placerat nisi, adipiscing mauris non
          purus
          parturient.
        </span>
      </div>
      <div class="mt-40 sl-fade">
        <div class="owl-carousel owl-3 owl-theme">
          <div class="item">
            <img src="images/home-page/owl-3-1.png">
            <div class="heading-2 fs-20 grey-1 mt-20 text-center">
              Curtains
            </div>
          </div>
          <div class="item">
            <img src="images/home-page/owl-3-2.png">
            <div class="heading-2 fs-20 grey-1 mt-20 text-center">
              Lamp
            </div>
          </div>
          <div class="item">
            <img src="images/home-page/owl-3-3.png">
            <div class="heading-2 fs-20 grey-1 mt-20 text-center">
              Chair
            </div>
          </div>
        </div>
        <div class="mt-30">
          <div class="border-1 w-20p m-auto">

          </div>
        </div>
      </div>

      <div class="mt-50">
        <div class="heading-2 fs-20 px-300 text-center animated-text">
          <span class="word">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat dolor odio odio
            malesuada at condimentum
            adipiscing
            iaculis semper.</span>
        </div>
        <div class="mt-50 text-center animated-text">
          <button type="button" class="btn btn-1 word">EXPLORE OUR WORK</button>
        </div>
      </div>
    </div>
  </section>

  <section class="py-50">
    <div class="container-1">
      <div class="heading-3 fs-26 text-center black-3 text-upper animated-text">
        <span class="word"> Media & publication</span>
      </div>
      <div class="heading-1 fs-45 black-1 text-center animated-text">
        <span class="word">We featured for our work</span>
      </div>
      <div class="heading-2 text-center fs-18 black-4 px-300 mt-15 animated-text">
        <span class="word"> Pellentesque etiam blandit in tincidunt at donec. Eget ipsum dignissim placerat nisi,
          adipiscing mauris non
          purus
          parturient.</span>
      </div>
      <div class="mt-50 text-center">
        <img src="/images/home-page/media1.png" class="w-70p text-center">
      </div>
      <div class="mt-30 text-center">
        <img src="/images/home-page/media2..png" class="w-70p text-center">
      </div>
      <div class="mt-50 text-center animated-text">
        <button type="button" class="btn btn-2 word">EXPLORE Publications</button>
      </div>
    </div>
  </section>

  <section class="mt-50">
    <div class="black-bg-1 h-300px position-relative">
      <div class="container-1">
        <div class="zoom-img">
          <img src="/images/home-page/zoom-img.png" class="w-100p">
        </div>
        <img src="/images/home-page/zoom-btn.png" class="zoom-btn">
      </div>
    </div>
  </section>

  <section class="mt-50">
    <div class="container-1">
      <div class="">

      </div>
    </div>
  </section>

  <style>
    #phone {
      position: relative;
      animation: vibrate 0.2s infinite;
    }

    @keyframes vibrate {
      0% {
        transform: translate(0, 0);
      }

      25% {
        transform: translate(2px, 2px);
      }

      50% {
        transform: translate(-2px, -2px);
      }

      75% {
        transform: translate(2px, 2px);
      }

      100% {
        transform: translate(0, 0);
      }
    }

    .tab-content {
      display: none;
    }

    .tab-content.active {
      display: block !important;
    }

    .nav-item.tab-head {
      border-radius: 30px;
      border: 2px solid #FFF;
    }

    .nav-item span {
      display: flex;
      align-items: center;
    }

    .nav-link {
      color: #FFF;
      text-align: center;
      font-family: 'Jost', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      text-transform: uppercase;
    }

    .owl-1.owl-theme .owl-nav {
      text-align: right;
    }

    .owl-carousel.owl-2 .owl-item img {
      width: 50%;
    }

    .owl-carousel.owl-2 .owl-item .img-center {
      display: flex;
      justify-content: center;
    }

    .owl-carousel.owl-2 .owl-nav button.owl-prev {
      position: absolute;
      left: 0;
      top: 35%;
    }

    .owl-carousel.owl-2 .owl-nav button.owl-next {
      position: absolute;
      right: 0;
      top: 35%;
    }

    .sr-fade.sr .animated-text {
      animation: fade 1s ease-in-out;
    }

    .sl-fade.sr .animated-text {
      animation: fade 1s ease-in-out;
    }

    @keyframes fade {
      from {
        opacity: 0;
        transform: translate(0, 10px);
      }

      to {
        opacity: 1;
        transform: translate(0, 0);
      }
    }

    .animated-text {
      position: relative;
      overflow: hidden;
    }

    .animated-text .animation {
      display: inline-block;
      white-space: nowrap;
    }

    .animated-text .word {
      display: inline-block;
      opacity: 0;
      transform: translateY(100%);
      transition: opacity 0.6s ease, transform 0.6s ease;
    }

    .animated-text .word.active {
      opacity: 1;
      transform: translateY(0);
    }

    /* .w-70p {
      opacity: 1;
      transform: translateY(50px);
      transition: opacity 0.4s ease, transform 0.4s ease;
    } */
  </style>

  <script>
    $(document).ready(function () {
      $(".owl-1").owlCarousel({
        items: 1,
        margin: 10,
        loop: true,
        nav: true,
        dots: false
      });
      $(".owl-1 .owl-nav .owl-prev").html('<img src="/images/home-page/owl-1l.png" class="w-40px">');
      $(".owl-1 .owl-nav .owl-next").html('<img src="/images/home-page/owl-1r.png" class="w-40px">');
    });

    $(document).ready(function () {
      $(".owl-2").owlCarousel({
        items: 1,
        margin: 10,
        loop: true,
        nav: true,
        dots: false
      });
      $(".owl-2 .owl-nav .owl-prev").html('<img src="/images/home-page/owl-1l.png" class="w-40px">');
      $(".owl-2 .owl-nav .owl-next").html('<img src="/images/home-page/owl-1r.png" class="w-40px">');
    });

    $(document).ready(function () {
      $(".owl-3").owlCarousel({
        items: 3,
        margin: 20,
        loop: true,
        nav: true,
        dots: false
      });
    });

    // Initialize ScrollReveal
    ScrollReveal({
      duration: 800, // Duration of the animation (in milliseconds)
      distance: '20px', // Distance the element moves during animation
      origin: 'bottom', // Origin of the animation
      easing: 'ease-in-out', // Easing function
      interval: 100, // Time between elements animating sequentially
      viewFactor: 1,
      delay: 1200
    });

    ScrollReveal().reveal('.sr-fade', {
      delay: 1200,
      distance: '50px',
      origin: 'right',
      interval: 200,
      viewFactor: 1,
    });

    ScrollReveal().reveal('.sl-fade', {
      delay: 1200,
      distance: '50px',
      origin: 'left',
      interval: 200,
      viewFactor: 1,
    });

    // Initialize ScrollReveal
    ScrollReveal().reveal('.animated-text', {
      delay: 1500,
      distance: '50px',
      origin: 'bottom',
      duration: 700,
      opacity: 0,
      easing: 'ease-in-out',
      afterReveal: (el) => {
        const words = el.querySelectorAll('.word');
        let delay = 0;

        words.forEach((word, index) => {
          setTimeout(() => {
            word.classList.add('active');
          }, delay);
          delay += 200; // Adjust the delay between each word
        });
      },
    });

    ScrollReveal().reveal('.w-70p', {
      duration: 700,      // Animation duration in milliseconds
      distance: '50px',  // Distance the image travels before it appears
      delay: 1500,        // Delay before the animation starts (milliseconds)
    });

    // Customize the animation for each image
    ScrollReveal().reveal('.w-70p:nth-child(1)', {
      origin: 'left'    // Image 1 comes from the left
    });
    ScrollReveal().reveal('.w-70p:nth-child(2)', {
      origin: 'right'   // Image 2 comes from the right
    });
    ScrollReveal().reveal('.w-70p:nth-child(3)', {
      origin: 'top'     // Image 3 comes from the top
    });
    ScrollReveal().reveal('.w-70p:nth-child(4)', {
      origin: 'bottom'  // Image 4 comes from the bottom
    });


    //  Scrollbar.init(document.querySelector('body'),
    //     {
    //       speed: 0.7,
    //       damping: 0.1
    //     }
    //   );


  </script>