<%= render "shared/header" %>

  <section class="bg-images" style="background-image: url('/images/media/brand-banner.jpg');">
    <div class="bg-shadow-1 h-90vh h-80vh-lg h-80vh-md h-80vh-mob">
      <div class="container-fluid">
        <div class="h-90vh h-80vh-lg h-80vh-md h-80vh-mob d-flex align-items-center justify-content-center">
          <div class="zoom">
            <div data-aos="fade-up" class="heading-4 white fs-26 fs-18-mob text-upper text-center">
              Our Media Moments
            </div>
            <div data-aos="fade-up" class="mt-15 w-70p w-90p-mob mx-auto fs-25-mob heading-1 text-center">
              Ink Meets Inspiration
            </div>
            <div data-aos="fade-up" class="mt-30 w-70p w-90p-mob mx-auto fs-14-mob heading-3 white text-center">
              Explore Our Media Moments, where our home decor journey unfolds in the spotlight. From magazine features to news
              articles, witness the buzz and inspiration.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="zoom">
  <section class="mt-30">
    <div class="container">
      <div data-aos="fade-up" class="heading-1 black-2 fs-35 text-center">
        Press Releases
      </div>
      <div class="mt-50 text-center" data-aos="zoom-in-down">
        <img src="/images/home-page/media1.jpg" loading="lazy" alt="media-images" class="w-70p text-center">
      </div>
      <div class="mt-30 text-center" data-aos="zoom-in-up">
        <img src="/images/home-page/media2..jpg" loading="lazy" alt="media-images" class="w-70p text-center">
      </div>
      <div class="mt-30 text-center" data-aos="zoom-in-down">
        <img src="/images/media/media-3.jpg" loading="lazy" alt="media-images" class="w-70p text-center">
      </div>
      <div class="mt-30 text-center" data-aos="zoom-in-up">
        <img src="/images/media/media-4.jpg" loading="lazy" alt="media-images" class="w-70p text-center">
      </div>
    </div>
  </section>

  <section class="black-bg-1 pt-40 pb-40 mt-50">
    <div class="container">
      <div class="heading-2 fs-16-mob text-center" data-aos="fade-up">
        Explore Our Categories
      </div>
      <div class="mt-4 heading-1 w-80p w-80p-md w-100p-mob mx-auto fs-30-mob text-center" data-aos="fade-up">
        Where Every Corner Finds Its Perfect Match
      </div>
    
      <%= render "shared/home_tabs" %>
  
    </div>
  </section>
  </div>

  

  <%= render "shared/call_back" %>

    <%= render "shared/footer" %>