<%= render "shared/header" %>

  <section class="bg-images" style="background-image: url('/images/our-story/our-story-banner.png');">
    <div class="bg-shadow-1 h-90vh h-80vh-lg h-80vh-md h-80vh-mob">
      <div class="container">
        <div class="h-90vh h-80vh-lg h-80vh-md h-80vh-mob d-flex align-items-center justify-content-center">
          <div class="zoom">
            <div data-aos="fade-up" class="heading-4 white fs-26 fs-18-mob text-upper text-center">
              About Us
            </div>
            <div data-aos="fade-up" class="mt-15 w-70p w-90p-mob mx-auto fs-25-mob heading-1 text-center">
              Your Home's Makeover Starts Here
            </div>
            <div data-aos="fade-up" class="mt-30 w-80p w-90p-mob mx-auto fs-14-mob heading-3 white text-center">
              Welcome to Elan Furnishings, where we redefine home decor with our timeless creations that blend artistry, precision,
              and uncompromising quality to transform your living spaces into masterpieces of beauty and sophistication.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  

  <div class="py-50 zoom">
    <section data-aos="fade-down">
      <div class="container">
        <div class="owl-carousel owl-1 owl-theme">
          <div class="item">
            <div class="row">
              <div class="col-md-4">
                <div class="text-center-web">
                  <img src="/images/our-story/sto-1.png">
                  <div class="heading-1 fs-25 fs-18-mob black-1 mt-15">
                    Timeless Elegance
                  </div>
                  <div class="heading-2 black-1 fs-20 fs-14-mob mt-15">
                    Elevate your space with our enduring and sophisticated home decor pieces.
                  </div>
                </div>
              </div>
              <div class="col-md-4 mt-40-mob">
                <div class="text-center-web">
                  <img src="/images/our-story/sto-2.png">
                  <div class="heading-1 fs-25 fs-18-mob black-1 mt-15">
                    Handcrafted Excellence
                  </div>
                  <div class="heading-2 black-1 fs-20 fs-14-mob mt-15">
                    Immerse yourself in the artistry and precision of our meticulously crafted products.
                  </div>
                </div>
              </div>
              <div class="col-md-4 mt-40-mob">
                <div class="text-center-web">
                  <img src="/images/our-story/sto-3.png">
                  <div class="heading-1 fs-25 fs-18-mob black-1 mt-15">
                    Uncompromising Quality
                  </div>
                  <div class="heading-2 black-1 fs-20 fs-14-mob mt-15">
                    Experience the pinnacle of quality and luxury with our exquisite home decor collections.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-4">
                <div class="text-center-web">
                  <img src="/images/our-story/sto-4.png">
                  <div class="heading-1 fs-25 fs-18-mob black-1 mt-15">
                    Personalized Touch
                  </div>
                  <div class="heading-2 black-1 fs-20 fs-14-mob mt-15">
                    Infuse your home with a personalized touch as our decor pieces offer a bespoke experience tailored to your
                    unique style.
                  </div>
                </div>
              </div>
              <div class="col-md-4 mt-40-mob">
                <div class="text-center-web">
                  <img src="/images/our-story/sto-5.png">
                  <div class="heading-1 fs-25 fs-18-mob black-1 mt-15">
                    Lasting Impressions
                  </div>
                  <div class="heading-2 black-1 fs-20 fs-14-mob mt-15">
                    Leave a lasting impression on your guests with our home decor, where every piece becomes a conversation starter.
                  </div>
                </div>
              </div>
              <div class="col-md-4 mt-40-mob">
                <div class="text-center-web">
                  <img src="/images/our-story/sto-6.png">
                  <div class="heading-1 fs-25 fs-18-mob black-1 mt-15">
                    Luxury Redefined
                  </div>
                  <div class="heading-2 black-1 fs-20 fs-14-mob mt-15">
                    Redefine the meaning of luxury in your home with our exclusive decor collections, where opulence meets functionality
                    seamlessly.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-4">
                <div class="text-center-web">
                  <img src="/images/our-story/sto-7.png">
                  <div class="heading-1 fs-25 fs-18-mob black-1 mt-15">
                    Global Influence
                  </div>
                  <div class="heading-2 black-1 fs-20 fs-14-mob mt-15">
                    Immerse your space in a worldly charm with our decor pieces inspired by international design trends, bringing a global
                    flair to your home.
                  </div>
                </div>
              </div>
              <div class="col-md-4 mt-40-mob">
                <div class="text-center-web">
                  <img src="/images/our-story/sto-8.png">
                  <div class="heading-1 fs-25 fs-18-mob black-1 mt-15">
                    Functional Aesthetics
                  </div>
                  <div class="heading-2 black-1 fs-20 fs-14-mob mt-15">
                    Witness the perfect fusion of functionality and aesthetics as our decor items don't just look good but serve a purpose
                    in enhancing your living space.
                  </div>
                </div>
              </div>
              <div class="col-md-4 mt-40-mob">
                <div class="text-center-web">
                  <img src="/images/our-story/sto-9.png">
                  <div class="heading-1 fs-25 fs-18-mob black-1 mt-15">
                    Time-Tested Craftsmanship
                  </div>
                  <div class="heading-2 black-1 fs-20 fs-14-mob mt-15">
                    Trust in the enduring quality of our decor items crafted with time-tested techniques, ensuring they stand the test of
                    both time and trends.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <div class="container">
    <div class="position-relative mt-80" data-aos="zoom-in" style="z-index: 1;">
      <img src="/images/our-story/our-story-1.png" class="w-100p position-absolute">
    </div>
    </div>

    <!-- <div class="container mt-80 d-block-mob d-none-web" data-aos="zoom-in" style="z-index: 1;">
      <img src="/images/our-story/our-story-1.png" class="w-100p">
    </div> -->

    <section class="mt-400 mt-300-lg mt-200-md mt-150-mob">
      <div class="position-relative">
        <div class="black-bg-4 pt-250 pb-200-lg pb-200-md pt-150-mob pb-150-mob pb-250">
          <div class="container">
            <div class="heading-2 fs-25 fs-18-mob text-center" data-aos="fade-up">
              About Us
            </div>
            <div class="heading-1 fs-35 fs-25-mob w-100p-mob w-80p mx-auto text-center mt-15" data-aos="fade-up">
              Where Home Becomes Art: Unveiling the Essence of Elegance and Quality in Every Piece.
            </div>
            <div class="mt-30 heading-2 fs-18 fs-14-mob text-center" data-aos="fade-up">
              Welcome to Elan Furnishings, where we redefine home decor with our timeless creations that blend artistry, precision,
              and uncompromising quality to transform your living spaces into masterpieces of beauty and sophistication.
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container">
    <div class="position-relative mt-100-" style="z-index: 1;" data-aos="zoom-out">
      <img src="/images/our-story/our-story-2.png" class="w-100p position-absolute">
    </div>
    </div>

    <!-- <div class="container mt-80 d-block-mob d-none-web" data-aos="zoom-out" style="z-index: 1;">
      <img src="/images/our-story/our-story-2.png" class="w-100p">
    </div> -->

    <section class="mt-400 mt-300-lg mt-200-md mt-100-mob">
      <div class="position-relative">
        <div class="sandal-bg pt-150 pt-100-mob pb-50-mob pb-50-lg pb-100-md pb-150">
          <div class="container">
            <div class="heading-2 fs-25 fs-18-mob black-1 text-center" data-aos="fade-down">
              Our Mission/ History
            </div>
            <div class="heading-1 fs-35 fs-25-mob w-100p-mob w-80p mx-auto text-center black-1 mt-15" data-aos="fade-down">
              Empowering Your Dream Home
            </div>
            <div class="mt-30 heading-2 black-1 fs-18 fs-14-mob text-center" data-aos="fade-down">
            At Elan Furnishing , we're on a mission to make your home a true masterpiece of elegance, craftsmanship, and
            personalised style. We believe your living spaces should reflect your unique personality, and that's why we meticulously
            curate and craft home decor that exudes timeless beauty and quality. Our commitment to empowering your dream home means
            offering a diverse range of pieces to match your individual tastes. Explore our collections and discover how we're
            dedicated to turning your house into a haven that tells your story through artful design and meticulous craftsmanship.
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="my-80 py-40-mob">
      <div class="container">
        <div class="row">
          <div class="col-md-6 equal-image d-none-mob" data-aos="zoom-out" style="background-image: url(/images/our-story/our-story-3.png);">

          </div>
          <div class="col-md-6 col-sm-12 d-block-mob d-none-web">
            <img src="/images/our-story/our-story-3.png" class="w-100p">
          </div>
          <div class="col-md-6 col-sm-12 equal-text mt-40-mob">
            <div class="mx-30 mx-0-md">
              <div class="heading-2 fs-25 fs-18-mob black-1" data-aos="fade-up">
                Message for customers
              </div>
              <div class="heading-1 fs-25 fs-18-mob black-1 mt-15" data-aos="fade-up">
                Celebrate Your Space with Elan's Home Decor Delights – Where Style Meets Home, and Elegance Finds a Place in Every
                Corner!
              </div>
              <div class="mt-30 heading-2 black-1 fs-18 fs-14-mob" data-aos="fade-up">
                At Elan Furnishing, we're thrilled to bring the world of exquisite home decor to your doorstep. Our curated selection
                boasts a fusion of Indian and international influences, ensuring a diverse range to suit every taste.
                Immerse yourself in a world of timeless elegance and contemporary flair as you explore our collections. From captivating
                colors to intricate designs, each piece is crafted with precision and passion.
                As part of the Elan family, you're not just a customer – you're a cherished member of a community that values style,
                comfort, and the essence of home. Stay tuned for exciting updates, exclusive offers, and inspirations that elevate your
                living spaces.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <%= render "shared/call_back" %>
  
    <%= render "shared/footer" %>

  <script>
    $(document).ready(function () {
      $(".owl-1").owlCarousel({
        items: 1,
        margin: 10,
        loop: false,
        nav: false,
        dots: true
      });

    });
  </script>

  <style>

    @media (max-width: 576px){
      .owl-carousel .owl-item img {
      width: 20% !important;
    }
    }
     
    .owl-carousel .owl-item img {
      width: 30%;
    }

    .owl-theme .owl-dots .owl-dot.active span {
      background: #1e1e1e !important;
    }

    .owl-theme .owl-nav.disabled+.owl-dots {
      margin-top: 40px;
    }

    .image-section {
      background-image: url('/images/our-story/our-story-3.png');
      background-size: cover;
      background-position: center;
      min-height: 100%;
    }

    .text-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  </style>