<%= render "shared/header" %>

  <section class="bg-images" style="background-image: url('/images/our-story/our-story-banner.png');">
    <div class="bg-shadow-1 h-90vh h-80vh-lg h-80vh-md h-80vh-mob">
      <div class="container">
        <div class="h-90vh h-80vh-lg h-80vh-md h-80vh-mob d-flex align-items-center justify-content-center">
          <div>
            <div data-aos="fade-up" class="mt-15 w-70p w-90p-mob mx-auto fs-35-mob heading-1 text-center">
              Our Story
            </div>
            <div data-aos="fade-up" class="mt-30 w-70p w-90p-mob mx-auto fs-14-mob heading-3 white text-center">
              It is a long established fact that a reader will be distracted by the of readable content of a page.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="py-50">
    <section>
      <div class="container">
        <div class="owl-carousel owl-1 owl-theme">
          <div class="item">
            <div class="row">
              <div class="col-md-4">
                <div class="text-center-web">
                  <img src="/images/our-story/story-car-1.png">
                  <div class="heading-1 fs-25 black-1 mt-15">
                    Best quality of Products
                  </div>
                  <div class="heading-2 black-1 fs-20 mt-15">
                    It is a long established fact that a reader will be distracted by the of readable content of a page.
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="text-center-web">
                  <img src="/images/our-story/story-car-2.png">
                  <div class="heading-1 fs-25 black-1 mt-15">
                    Satisfaction and guarantee
                  </div>
                  <div class="heading-2 black-1 fs-20 mt-15">
                    It is a long established fact that a reader will be distracted by the of readable content of a page.
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="text-center-web">
                  <img src="/images/our-story/story-car-3.png">
                  <div class="heading-1 fs-25 black-1 mt-15">
                    New arrivals in every 10 days
                  </div>
                  <div class="heading-2 black-1 fs-20 mt-15">
                    It is a long established fact that a reader will be distracted by the of readable content of a page.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-4">
                <div class="text-center-web">
                  <img src="/images/our-story/story-car-1.png">
                  <div class="heading-1 fs-25 black-1 mt-15">
                    Best quality of Products
                  </div>
                  <div class="heading-2 black-1 fs-20 mt-15">
                    It is a long established fact that a reader will be distracted by the of readable content of a page.
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="text-center-web">
                  <img src="/images/our-story/story-car-2.png">
                  <div class="heading-1 fs-25 black-1 mt-15">
                    Satisfaction and guarantee
                  </div>
                  <div class="heading-2 black-1 fs-20 mt-15">
                    It is a long established fact that a reader will be distracted by the of readable content of a page.
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="text-center-web">
                  <img src="/images/our-story/story-car-3.png">
                  <div class="heading-1 fs-25 black-1 mt-15">
                    New arrivals in every 10 days
                  </div>
                  <div class="heading-2 black-1 fs-20 mt-15">
                    It is a long established fact that a reader will be distracted by the of readable content of a page.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-4">
                <div class="text-center-web">
                  <img src="/images/our-story/story-car-1.png">
                  <div class="heading-1 fs-25 black-1 mt-15">
                    Best quality of Products
                  </div>
                  <div class="heading-2 black-1 fs-20 mt-15">
                    It is a long established fact that a reader will be distracted by the of readable content of a page.
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="text-center-web">
                  <img src="/images/our-story/story-car-2.png">
                  <div class="heading-1 fs-25 black-1 mt-15">
                    Satisfaction and guarantee
                  </div>
                  <div class="heading-2 black-1 fs-20 mt-15">
                    It is a long established fact that a reader will be distracted by the of readable content of a page.
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="text-center-web">
                  <img src="/images/our-story/story-car-3.png">
                  <div class="heading-1 fs-25 black-1 mt-15">
                    New arrivals in every 10 days
                  </div>
                  <div class="heading-2 black-1 fs-20 mt-15">
                    It is a long established fact that a reader will be distracted by the of readable content of a page.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container position-relative mt-80" style="z-index: 1;">
      <img src="/images/our-story/our-story-1.png" class="w-100p position-absolute">
    </div>

    <section class="mt-400">
      <div class="position-relative">
        <div class="black-bg-4 pt-250 pb-250">
          <div class="container">
            <div class="heading-2 fs-25 text-center">
              About Us
            </div>
            <div class="heading-1 fs-35 w-60p mx-auto text-center mt-15">
              We Create The Art Of Stylish Living Stylishly
            </div>
            <div class="mt-30 heading-2 fs-18 text-center">
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in
              some form,
              by injected humour, or randomised words which don't look even slightly believable. If you are going to use
              a
              passage of
              Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the
              Lorem Ipsum
              generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
              generator on the
              Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence
              structures, to
              generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from
              repetition,
              injected humour, or non-characteristic words etc.
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container position-relative mt-100-" style="z-index: 1;">
      <img src="/images/our-story/our-story-2.png" class="w-100p position-absolute">
    </div>

    <section class="mt-400">
      <div class="position-relative">
        <div class="sandal-bg pt-150 pb-150">
          <div class="container">
            <div class="heading-2 fs-25 black-1 text-center">
              Our Mission/ History
            </div>
            <div class="heading-1 fs-35 w-60p mx-auto text-center black-1 mt-15">
              We Create The Art Of Stylish Living Stylishly
            </div>
            <div class="mt-30 heading-2 black-1 fs-18 text-center">
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in
              some form,
              by injected humour, or randomised words which don't look even slightly believable. If you are going to use
              a
              passage of
              Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the
              Lorem Ipsum
              generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
              generator on the
              Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence
              structures, to
              generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from
              repetition,
              injected humour, or non-characteristic words etc.
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="my-80">
      <div class="container">
        <div class="row">
          <div class="col-md-6 equal-image" style="background-image: url(/images/our-story/our-story-3.png);">

          </div>
          <div class="col-md-6 equal-text">
            <div class="mx-30">
              <div class="heading-2 fs-25 black-1">
                Message for customers
              </div>
              <div class="heading-1 fs-35 black-1 mt-15">
                We Create The Art Of Stylish Living Stylishly
              </div>
              <div class="mt-30 heading-2 black-1 fs-18">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form,
                by injected humour, or randomised words which don't look even slightly believable. If you are going to
                use a passage of
                Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the
                Lorem Ipsum
                generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
                generator on the
                Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence
                structures, to
                generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from
                repetition,
                injected humour, or non-characteristic words etc.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <%= render "shared/call_back" %>
  
    <%= render "shared/footer" %>

  <script>
    $(document).ready(function () {
      $(".owl-1").owlCarousel({
        items: 1,
        margin: 10,
        loop: false,
        nav: false,
        dots: true
      });

    });
  </script>

  <style>
    .owl-carousel .owl-item img {
      width: 30%;
    }

    .owl-theme .owl-dots .owl-dot.active span {
      background: #1e1e1e !important;
    }

    .owl-theme .owl-nav.disabled+.owl-dots {
      margin-top: 40px;
    }

    .image-section {
      background-image: url('/images/our-story/our-story-3.png');
      background-size: cover;
      background-position: center;
      min-height: 100%;
    }

    .text-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  </style>