<%= render "shared/header" %>
  <section class="bg-images" style="background-image: url('/images/our-service/our-service-banner.png');">
    <div class="bg-shadow-1 h-90vh h-80vh-lg h-80vh-md h-80vh-mob">
      <div class="container">
        <div class="h-90vh h-80vh-lg h-80vh-md h-80vh-mob d-flex align-items-center justify-content-center">
          <div>
            <div class="heading-4 white fs-26 fs-18-mob text-upper text-center">
              Our services
            </div>
            <div data-aos="fade-up" class="mt-15 w-70p w-90p-mob mx-auto fs-35-mob heading-1 text-center">
              Best curated brands
            </div>
            <div data-aos="fade-up" class="mt-30 w-70p w-90p-mob mx-auto fs-14-mob heading-3 white text-center">
              It is a long established fact that a reader will be distracted by the of readable content of a page.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sandal-bg">
    <div class="container">
      <div class="py-50">
        <div class="row">
          <div class="col-md-9">
            <div class="heading-1 black-10 fs-35">
              Request a call back
            </div>
            <div class="mt-30">
              <div class="heading-2 fs-18 black-3">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form,
                by injected humour, or randomised words which don't look even slightly.
              </div>
            </div>
          </div>
          <div class="col-md-3 justify-end align-end d-flex-lg">
            <div class="">
              <button type="button" class="btn btn-4">VIEW ALL</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6 mt-30">
          <img src="/images/products/product_4/product4-1.png" class="w-100p">
        </div>
        <div class="col-md-6 mt-30">
          <img src="/images/products/product_4/product4-2.png" class="w-100p">
        </div>
        <div class="col-md-6 mt-30">
          <img src="/images/products/product_4/product4-3.png" class="w-100p">
        </div>
        <div class="col-md-6 mt-30">
          <img src="/images/products/product_4/product4-4.png" class="w-100p">
        </div>
        <div class="col-md-6 mt-30">
          <img src="/images/products/product_4/product4-5.png" class="w-100p">
        </div>
        <div class="col-md-6 mt-30">
          <img src="/images/products/product_4/product4-6.png" class="w-100p">
        </div>
        <div class="col-md-6 mt-30">
          <img src="/images/products/product_4/product4-7.png" class="w-100p">
        </div>
        <div class="col-md-6 mt-30">
          <img src="/images/products/product_4/product4-8.png" class="w-100p">
        </div>
      </div>
    </div>
  </section>

  <section class="sandal-bg mt-50">
    <div class="container">
      <div class="py-50 text-center">
        <div class="heading-1 black-10 fs-35">
          Request a call back
        </div>
        <div class="mt-30">
          <div class="heading-2 fs-18 black-3">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
            alteration in some form,
            by injected humour, or randomised words which don't look even slightly.
          </div>
        </div>
        <div class="mt-30">
          <button type="button" class="btn btn-4">VIEW ALL</button>
        </div>
      </div>
    </div>
  </section>

  <div class="mt-50">
    <%= render "shared/call_back" %>
  </div>

  <%= render "shared/footer" %>