<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <hr>
    <p>Your request has been successfully made and we will contact you within 48 hours.</p>
    <p>Thanks for showing intrust on our website.</p>
    <hr>
  </body>
</html>