<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <hr>
    <h3>Newsletter Email:</h3>
    <p>Email: <%= @user_email %></p>
    <hr>
  </body>
</html>